{% extends "base.html.twig" %}


{% block LogSign %}   
 <link href="{{asset('vendor/bootstrap/css/RegistrationForm.css')}}" rel="stylesheet">    
 {% endblock %}
{% block title %}Perfil{% endblock %}


{% block stylesheets %}
   
    <style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1; 
}



.dropdown:hover .dropdown-content {
    display: block;
}

</style>
     

{% endblock %}

{% block body %}

    <header>    
             
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">           
            <div class="dropdown">            
                <a class="navbar-brand" href="{{path('home')}}">MI PERFIL</a>            
                <div class="dropdown-content">     
                    <br>   <a  class="nav-link" href="{{path('uploadFile',{'folder':folder})}}">SUBIR ARCHIVOS </a> </br>
                    <a class="nav-link" href="{{path('profile')}}">CREAR CARPETA<span class="sr-only">(current)</span></a> 
                     <br>   <a  class="nav-link" href="">CERRAR SESIÓN </a> </br> 
                </div>
            </div>
        </nav>
      
    </header>
    
    <main role="main" class="container">
       <DIV ALIGN=center> <h1 class="mt-5">MIS ARCHIVOS</h1> </DIV>
        
        <iframe height="300px" width="100%" src="" name="iframe_a"></iframe>    
           
    </main> 
            <table>
        <tr>
            <th>Nombre</th>
            <th>Fecha de Creacion</th>
            <th>Fecha de Modificación</th>
   
        </tr>
            
            {% if folders is not empty %}
     
            {% for folder in folders%}
            
            <tr>
                <td> 
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Simpleicons_Interface_folder-open-shape.svg/1000px-Simpleicons_Interface_folder-open-shape.svg.png" alt="Archivo" width="20" height="20">    
                <a href="{{path('urlhome',{'url':folder.name})}} ">  {{folder.name}}  </a>
                </td> 
                <td> 
                {{folder.created.date}}
                </td> 
            </tr>
            
            {% endfor %}
            {% else %}
            <tr>
                <td>
                    <td colspan="3" style="text-align:center;"> <h3>No se encontraron carpetas</h3></td>
                </td>
            </tr>
      
    {% endif %}     
    
    {% if files is not empty %}
        {% for file in files%}
        <tr>
            <td>
            <img src="https://icon-icons.com/icons2/1223/PNG/512/1492617351-6-forms-google-data-document-file_83439.png" alt="Archivo" width="20" height="20">
            <a href="" > {{file.name}}   </a>
            </td>
            <td>
            {{file.created.date}}
            </td>
            <td>
            {{file.updated}}
            </td>
         </tr>
        {% endfor %}
        
        {% else %}
            <tr>
                <td>
                    <td colspan="3" style="text-align:center;"> <h3>No se encontraron Archivos</h3></td>
                </td>
            </tr>
        
    {% endif %}
      </table>
{% endblock %}
