{% extends "base.html.twig" %}
{% block title %}Perfil{% endblock %}


{% block body %}
   
    <header>    
             
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">           
            <div class="dropdown">            
            <a class="navbar-brand" href="{{path('home')}}">MI PERFIL</a>          
        </nav>   
        
    </header>
        <br class="mt-5"></br>
    
    <main role="main" class="container">        
        
    <br class="mt-5"></br>
        
    <div class="trans text-center"> 
        <a type="" class="btn btn-danger" data-toggle="modal" data-target="#NewFolder" >
        Crear Carpeta
        </a>
    
    <a type="" class="btn btn-danger" data-toggle="modal" data-target="#NewFile">
       Subir Archivo
    </a>
        </div>
  
        <div class="modal fade" id="NewFolder" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
            
        <div class="modal-header">
             <h5 class="modal-title" id="modalLabelSmall">Nueva Carpeta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>           
        </div>

        <div class="modal-body">
        <form  method="POST" action=" ">
            <img  type="text" class="mb-4 mx-auto d-block" src="{{asset('Resources/Pictures/F.png')}}" alt="" width="250" height="175" name="">
        <input for="" type="" id="FolderName" class="form-control" placeholder="Nombre" required autofocus="" name="name" padding-bottom=2>
        
         <input for="" type="" id="Descripcion" class="form-control" placeholder="Descripcion"  name="desc" >
         <br></br>
        <button class="btn btn-lg btn-primary btn-block" name="crear" value="crear" type="submit" >CREAR</button>
         </form>
        </div>

        </div>
        </div>
        
        </div>
    
    

    <div class="modal fade" id="NewFile" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelLarge">Nuevo Archivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>           
                </div>

                <div class="modal-body">
                    {{ form_start(form, {'action':'' , 'method':'POST' , 'enctype' : 'multipart/form-data'}) }}
                    <img  type="text" class="mb-4 mx-auto d-block" src="{{asset('Resources/Pictures/U.png')}}" alt="" width="250" height="175" name="">
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
     
         <br class="mt-5"></br>
      {% if error is not empty %}
          <div class="alert alert-danger" role="alert">
              <strong>{{error}}</strong>
          </div>
      {% endif %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Creación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 
                        <a href="{{path('urlhome',{'url':parent_folder})}}">...<a/> 
                    </td>
                    <td/>
                    <td/>
                   
                    
                </tr>
            {% if folders is not empty %}
              {% for folder in folders%}
              <tr>
                  <td>
                      <i class="fa fa-folder" aria-hidden="true"></i>
                      <a  href="{{path('urlhome',{'url':folder.path})}}">{{folder.name}} </a>
                  </td>
                  <td>
                     {{folder.description}}
                  </td>
                  <td>
                      {{folder.created.date|date("m/d/Y") }}
                  </td>
              </tr>
              {% endfor %}
            {% endif %}
            {% if files is not empty %}
                {% for file in files%}
                <tr>
                    <td>
                        <i class="fa fa-file" aria-hidden="true"></i>
                        <a href="{{asset("Resources/Files/" ~ file.file)}}" download>{{file.name}} </a>
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        {{file.created.date|date("m/d/Y") }}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>  
   
    </main> 
  
{% endblock %}
