{% extends "base.html.twig" %}




{% block title %}Iniciar Sesión{% endblock %}

{% block LogSign %}      
        <link href="{{asset('vendor/bootstrap/css/RegistrationPage.min.css')}}" rel="stylesheet">
        <link href="{{asset('vendor/bootstrap/css/RegistrationForm.css')}}" rel="stylesheet">  
{% endblock %}

{% block body %}
    <form class="form-signin" method="POST" action="{{path('check')}}">
        <img class="mb-4 mx-auto d-block" src="{{asset('Resources/Pictures/A.png')}}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal"> </h1>

        <label for="Email" class="sr-only">Correo</label>
        <input type="email" id="UserEmail" class="form-control" placeholder="Correo" required autofocus="" name="_username">

        <label for="Contraseña" class="sr-only">Contraseña</label>
        <input type="password" id="UserPassword" class="form-control" placeholder="Contraseña" required name="_password">

        <a class="mx-auto d-block" href="{{path('signUp')}}">¿No tienes cuenta? Registrate<a/> 
        <button class="btn btn-lg btn-primary btn-block" type="submit">ENTRAR</button>
    </form>
{% endblock %}
